{% comment %} 
Name: Connor Warner
Class: CIS 218 
Date: 4/8/2024
{% endcomment %}



{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock title %}

{% block content %}
    <div class='row'>
      <div class='col'>
      </div>
      <div class='col text-center'>
        <h2 class="mb-3">Sign In</h2>
        <form method="POST">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="d-grid gap-2">
            <button class="btn btn-primary btn-block" type="submit">Login</button>
          </div>
        </form>
        <p><a href="{% url "password_reset" %}">Forgot your password?</a></p>
        <p><a href="{% url "signup" %}">Create a new account</a></p>
      </div>
      <div class='col'>
      </div>
    </div>
{% endblock content %}