{% comment %} 
Name: Connor Warner
Class: CIS 218 
Date: 4/8/2024
{% endcomment %}



{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Forgot Your Password?{% endblock title %}

{% block content %}
  <div class='row'>
    <div class='col'>
    </div>
    <div class='col text-center'>
      <h1>Forgot your password?</h1>
      <p>
        Enter your email address to obtain a new password
      </p>
      <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-grid gap-2">
          <input class="btn btn-primary" type="submit" value="Send e-mail">
        </div>
      </form>
    </div>
    <div class='col'>
    </div>
  </div>
{% endblock content %}