{% extends "base.html" %}

{% block title %}Twits{% endblock title %}

{% block content %}
<h1>Tweeter Home</h1>
<br>
  {% for twit in twit_list %}
    <p><a href="{% url "twit_detail" twit.pk %}">View Full Twit</a></p>
    <p>{{ twit.body }}</p>
    {% if twit.image_url != None %}
      <p>{{ twit.image_url }}<p>
    {% endif %}
    <p>{{ twit.author }} | {{ twit.created }}</p>
    {% if twit.author == user %}
      <p>
        <a href="{% url "twit_edit" twit.pk %}">Edit</a> |
        <a href="{% url "twit_delete" twit.pk %}">Delete</a>
      </p>
    {% endif %}
    {% for comment in twit.comments.all %}
      <p>
        {{ comment.author }} &middot;
        {{ comment }}
      </p>
    {% endfor %}
    <hr>
  {% endfor %}
{% endblock content %}